.profile__info {
    display: grid;
    grid-template-columns: 120px 1fr 24px;
    grid-template-rows: repeat(2, 60px);
    grid-template-areas:
        "avatar title button"
        "avatar subtitle .";
    row-gap: 16px;
    column-gap: 18px;
}

@media screen and (max-width: 1279px) {
    .profile__info {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 120px 1fr 14px;
        grid-template-areas:
            "avatar avatar"
            "title button"
            "subtitle subtitle";
        gap: 14px 10px;
    }
}